
.edit {
    border-radius: 4px;
    background-color: #17a2b8;
    border: none;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .edit{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .edit:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .edit:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .edit:hover:after {
    opacity: 1;
    right: 10px;
  }